@import "variables/variables";
@import "mixins/mixins";
@import "functions/functions";

@include generate-container();
@include column-default-style();
@include generate-columns();

@font-face {
    src: url(/dist/css/fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
    font-family: "catamaran";
    font-weight: 100;
}

@font-face {
    src: url(/dist/css/fonts/Lato/Lato-Regular.ttf);
    font-family: "lato";
    font-weight: 400;
}

@font-face {
    src: url(/dist/css/fonts/Mulish/Mulish-VariableFont_wght.ttf);
    font-family: "muli";
    font-weight: 400;
}

body {
    margin: 0;
}

.nav {
    background: white;
    display: flex;
    justify-content: center;    
    position: fixed; 
    z-index: 1;       
    width: 100%;
    padding-bottom: 0.75rem;

    @media screen and (min-width: 960px){
        background-color: transparent;
    }
    .navbar-brand {
        text-decoration: none;
        color: #fdcc52;
        font-family: "catamaran";
        position: absolute;
        left: 3rem;
        top: 0.5rem;
        font-size: large;
    }

    &__container {
        align-items: flex-start;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;

        @media screen and (min-width: 960px) {
            align-items: center;
        }

        

        .nav__hamburger--checkbox[type="checkbox"] {
            display: none;
        }

        .nav__hamburger--checkbox[type="checkbox"]:checked+ul {
            display: flex;
        }

        .nav__hamburger--label {
            flex-direction: row;
            cursor: pointer;
            display: flex;            
            height: 1rem;     
            line-height: 1rem;  
            align-items: center;
            justify-content: center;     
            width: 2rem;
            border: 1px solid #d8d7d7;
            border-radius: 5px;
            padding: 1px 10px 8px 10px;
            margin-right: 36px;
            margin-top: 10px;

            @media screen and (min-width: 960px) {
                display: none;
            }
        }

        .navbar-nav {
            display: none;
            flex-direction: column;
            list-style: none;
            margin: 0 auto;
            margin-top: 40px;
            padding: 0;
            width: 100%;

            @media screen and (min-width: 960px) {
                display: flex;
                flex-direction: row;
                width: auto;
            }

            .nav__item {
                text-align: start;
                

                .nav__link {
                    color: #222;
                    display: block;
                    line-height: 1rem;
                    padding: 1rem;
                    font-size: 11px;
                    letter-spacing: 1px;
                    font-family: "catamaran", Arial, Helvetica, sans-serif;
                    font-weight: 500;
                    text-decoration: none;

                    &:hover {
                        color: #fdcc52;
                    }
                }

            }
        }
        .menu-text {
            font-size: 12px;
            font-family: "catamaran", Arial, Helvetica, sans-serif;
            font-weight: bold;
            margin-top: 5px;
            margin-right: 2px;
        }

        .fa-bars {
            font-size: 11px;
            margin-top: 5px;
        }
    }
}



.start-page {
    background-image: url(/dist/css/img/bg-pattern.png), linear-gradient(to right, rgb(218, 36, 49), rgb(122, 67, 151));
}

.card-body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;  
    margin-top: 4rem;  
}

.card-title {
    color: #efefef;
    letter-spacing: 1px;
    font-family: "catamaran", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 35px;
    font-size: 29px;
    margin: 2.5rem 2rem 3rem 2rem;
}

.card__img--container {
    display: flex;
    justify-content: center;
}

.card-img {
    margin: 5rem 0 4rem 0;
    width: 310px;
}

/*Download-section */

.download-section {
    background-color: rgb(252, 201, 73);
    margin: 0;
    padding: 0;
}

.download-page {
    align-items: center;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    text-align: center;
}

.discover-headline {
    font-family: "catamaran", Arial, Helvetica, sans-serif;
    font-size: 51px;
    font-weight: 500;
    line-height: 60px;
    padding-top: 90px;   
    margin-bottom: 0; 
}

.discover-p {
    font-family: "muli", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 1rem 2rem 1rem 2rem;
}

.badge-container {
    padding-bottom: 100px;
}

.badges {
    width: 200px;
    margin-bottom: 20px;
}


/*Features-section*/

.features-headline {
    font-family: "catamaran", Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    line-height: 60px;
    text-align: center;
    margin: 5rem 0 0 0;
}

.features-p {
    font-family: "muli", Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    margin: 0.75rem 0 1.5rem 0 ;
    color: rgb(109, 118, 126);
}

.feature-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-container {
    display: flex;
   justify-content: center;
}

.features-img {
    margin: 5rem 0 5rem 0;
    width: 310px;
}

.feature-icons {
    color: rgb(167, 52, 103);
    font-size: 80px;
    padding-top: 5rem;
}

.embed-headline {
    font-family: "catamaran", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 31px;
    font-weight: lighter;
    margin: 1rem 0 0 0;
}

.embed-p {
    font-family: "muli", Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 1.75rem;
    color: rgb(116, 120, 130);
    margin: 0;
}


/*Contact-section*/

.contact-page {
    position: relative;  
    padding: 10rem 0;  
    overflow: hidden;
}

.contact-background {
    height: 100%;   
    position: absolute;
    top: 0;
    left: -165px;
    filter: brightness(60%);
}

.contact-container {
    margin-left: 3rem;
    margin: 3rem 0 3rem 3rem;
}

.contact-headline {
    font-family: "catamaran", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 45px;
    font-weight: lighter;
    line-height: 50px;
    letter-spacing: 1px;  
    margin: 0;
    margin-bottom: 1.5rem;
}

.my-btn {
    background-color: transparent;
    border: 1px solid;
    border-radius: 30px;
    color: #efefef;
    padding: 15px 42px 15px 42px;
    letter-spacing: 2px;
    font-family: "lato";
    font-size: 9px;
    transition: background, border 300ms;
}

.my-btn:hover {
    background: #fdcc52;
    border-color: #fdcc52;
    cursor: pointer;
}

/*Social media section*/

.social-media-section {
    background-color: rgb(253, 199, 65);
    .social-media-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 5rem 0;
    }
    .social-headline {
        font-family: "catamaran", Arial, Helvetica, sans-serif;
        font-size: 45px;
        font-weight: lighter;
        line-height: 0;
    }
}

.social-nav {
    display: flex;
    flex-direction: row;    
}

.heart-icon {
    color: rgb(221, 76, 57);
}

.social__icon--t {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 161, 243);
    opacity: 90%;
    font-size: 30px;    
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 12px;
}

.social__icon--f {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 89, 153);
    opacity: 90%;
    font-size: 30px;  
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 12px;
}

.social__icon--g {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 76, 57);
    opacity: 90%;
    font-size: 36px;   
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.social__icon--g:hover {
    opacity: 100%;
}

.social__icon--f:hover {
    opacity: 100%;
}

.social__icon--t:hover {
    opacity: 100%;
}

.google-icon {
    color: white;
}
.twitter-icon {
    color: white;
}
.facebook-icon {
    color: white;
}

/*Footer*/

footer {
    background-color: rgb(34, 34, 34);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.copyright {
    font-size: 11.8px;
    font-family: "muli", Arial, Helvetica, sans-serif;
    color: rgb(98, 98, 98);
    margin-bottom: -0.05rem;
}

.modalButton-text {
    color: rgb(98, 98, 98);
    font-family: "muli", Arial, Helvetica, sans-serif;
    font-size: 11.8px
}

.modalButton-text:hover {
    color: #fdcc52;
}

/*Desktop settings*/

@media screen and (min-width:992px) {
    .social-headline {
        font-size: 40px;
    }
    .contact-page {
        background-size: 120%;
    }
    .contact-head {
        margin-left: 140px ;
    }
    .contact-headline {
        font-size: 58px;
    }
    .my-btn {
        font-size: 8px;
        padding: 12px 35px 12px 35px;
    }
    .features-headline {
        font-size: 40px;
    }
    .features-p {
        font-size: 13.5px;
    }
    .features-img {
        width: 230px;
    }
    .feature-icons {
        font-size: 60px;
    }
    .embed-headline {
        font-size: 22px;
    }
    .embed-p {
        font-size: 12px;
        line-height: 1.2rem;
    }
    .discover-p {
        font-size: 13px;
    }
    .badges {
        width: 140px;
    }
    .card-img {
        width: 230px;
    }
    .card-title {
        font-size: 34px;
    }
    
    .nav__link {
        color: rgb(217, 198, 229) ;
    }
    .nav__link:hover {
        color: white ;
    }
    .fixed-top.scrolled {
        background-color: #fff ;
        transition: background-color 200ms linear;
    }
    .navbar.scrolled {
        width: 100%;
        background-color: #efefef; 
    }
    .navbar-brand.scrolled {
        margin-left: 335px;
        color: rgb(69, 69, 69) ;
    }
    .navbar-brand.scrolled:hover {
        color: #fdcc52 ;
    }
    .navbar-nav.scrolled {
        margin-right: 299px;
    }
    .nav__link.scrolled {
        color: rgb(69, 69, 69) ;
        font-weight: bold;
    }
    .nav__link.scrolled:hover {
        color: #fdcc52 ;
    }
}