@use 'variables/colors' as *;
@import "variables/variables";
@import "mixins/mixins";
@import "functions/functions";
@import "variables/fonts";


@include generate-container();
@include column-default-style();
@include generate-columns();



body {
    margin: 0;
}

/*Navigation*/

.nav {
    background: white;
    display: flex;
    justify-content: center;    
    position: fixed; 
    z-index: 1;       
    width: 100%;
    padding-bottom: 0.75rem;

    @media screen and (min-width: 992px){
        background-color: transparent;
    }
    .navbar-brand {
        text-decoration: none;
        color: $special-yellow;
        font-family: $headline-fonts;
        position: absolute;
        left: 3rem;
        top: 0.5rem;
        font-size: large;
    }

    &__container {
        align-items: flex-start;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;

        @media screen and (min-width: 992px) {
            align-items: center;
        }

        

        .nav__hamburger--checkbox[type="checkbox"] {
            display: none;
        }

        .nav__hamburger--checkbox[type="checkbox"]:checked+ul {
            display: flex;
        }

        .nav__hamburger--label {
            flex-direction: row;
            cursor: pointer;
            display: flex;            
            height: 1rem;     
            line-height: 1rem;  
            align-items: center;
            justify-content: center;     
            width: 2rem;
            border: 1px solid #d8d7d7;
            border-radius: 5px;
            padding: 1px 10px 8px 10px;
            margin-right: 36px;
            margin-top: 10px;

            @media screen and (min-width: 992px) {
                display: none;
            }
        }

        .navbar-nav {
            display: none;
            flex-direction: column;
            list-style: none;
            margin: 0 auto;
            margin-top: 40px;
            padding: 0;
            width: 100%;
            

            @media screen and (min-width: 992px) {
                display: flex;
                flex-direction: row;
                width: auto;
            }

            .nav__item {
                text-align: start;                

                .nav__link {
                    color: #222;
                    display: block;
                    line-height: 1rem;
                    padding: 1rem;
                    font-size: 11px;
                    letter-spacing: 1px;
                    font-family: $headline-fonts;
                    font-weight: 500;
                    text-decoration: none;
                    

                    &:hover {
                        color: $special-yellow;
                    }
                }

            }
        }
        .menu-text {
            font-size: 12px;
            font-family: $headline-fonts;
            font-weight: bold;
            margin-top: 5px;
            margin-right: 2px;
        }

        .fa-bars {
            font-size: 11px;
            margin-top: 5px;
        }
    }
}

/*Start-section*/

.start-page {
    background-image: url(/dist/css/img/bg-pattern.png), linear-gradient(to right, rgb(218, 36, 49), rgb(122, 67, 151));
    background-repeat: repeat;
    background-attachment: fixed;  /*Ez egy nagyon jó beállítás*/
}

.card-body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;  
    margin-top: 4rem; 
}

.card-title {
    color: $smoky-white;
    letter-spacing: 1px;
    font-family: $headline-fonts;
    font-weight: lighter;
    line-height: 35px;
    font-size: 27px;
    margin: 2.5rem 2rem 3rem 2rem;
}

.card__img--container {
    display: flex;
    justify-content: center;
}

.card-img {
    margin: 5rem 0 4rem 0;
    width: 310px;
}

/*Download-section */

.download-section {
    background-color: $special-yellow;
    margin: 0;
    padding: 0;
    .download-page {
        align-items: center;
        display: flex;
        flex-direction: column;    
        justify-content: center;
        text-align: center;
    }
}

.discover-headline {
    font-family: $headline-fonts;
    font-size: 51px;
    font-weight: 500;
    line-height: 60px;
    padding-top: 90px;   
    margin-bottom: 0; 
}

.discover-p {
    font-family: $p-fonts;
    font-size: 18px;
    margin: 1rem 2rem 1rem 2rem;
}

.badge-container {
    padding-bottom: 100px;
}

.badges {
    width: 200px;
    margin-bottom: 20px;
}


/*Features-section*/

.features-headline {
    font-family: $headline-fonts;
    font-size: 50px;
    font-weight: lighter;
    line-height: 60px;
    text-align: center;
    margin: 5rem 0 0 0;
}

.features-p {
    font-family: $p-fonts;
    font-size: 17px;
    text-align: center;
    margin: 0.75rem 0 1.5rem 0 ;
    color: rgb(109, 118, 126);
}

.feature-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-container {
    display: flex;
   justify-content: center;
}

.features-img {
    margin: 5rem 0 5rem 0;
    width: 310px;
}

.feature-icons {
    color: rgb(167, 52, 103);
    font-size: 80px;
    padding-top: 5rem;
}

.embed-headline {
    font-family: $headline-fonts;
    letter-spacing: 1px;
    font-size: 31px;
    font-weight: lighter;
    margin: 1rem 0 0 0;
}

.embed-p {
    font-family: $p-fonts;
    font-size: large;
    line-height: 1.75rem;
    color: rgb(116, 120, 130);
    margin: 0;
}


/*Contact-section*/

.contact-page {
    margin-top: 8rem;
    position: relative;  
    padding: 10rem 0;  
    overflow: hidden;
}

.contact-background {
    height: 100%;   
    position: absolute;
    top: 0;
    left: -165px;
    filter: brightness(60%);
}

.contact-container {
    margin-left: 3rem;
    margin: 3rem 0 3rem 3rem;
}

.contact-headline {
    font-family: $headline-fonts;
    color: white;
    font-size: 45px;
    font-weight: lighter;
    line-height: 50px;
    letter-spacing: 1px;  
    margin: 0;
    margin-bottom: 1.5rem;
}

.my-btn {
    background-color: transparent;
    border: 1px solid;
    border-radius: 30px;
    color: $smoky-white;
    padding: 15px 42px 15px 42px;
    letter-spacing: 2px;
    font-family: "lato", Arial, Helvetica, sans-serif;
    font-size: 9px;
    transition: background 300ms, border 300ms;
}

.my-btn:hover {
    background: $special-yellow;
    border-color: $special-yellow;
    cursor: pointer;
}

/*Social media section*/

.social-media-section {
    background-color: $special-yellow;
    .social-media-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 5rem 0;
    }
    .social-headline {
        font-family: $headline-fonts;
        font-size: 45px;
        font-weight: lighter;
        line-height: 0;
    }
}

.heart-icon {
    color: rgb(221, 76, 57);
}

.social-nav {
    display: flex;
    flex-direction: row;    
}

[class^="social__icon"] {
    align-items: center;
    border-radius: 100%;
    display: flex; 
    font-size: 30px; 
    height: 70px;  
    justify-content: center; 
    margin-right: 12px;   
    opacity: 90%;
    width: 70px;     
}

.social__icon--t {   
    background-color: rgb(29, 161, 243);         
}

.social__icon--f {
    background-color: rgb(59, 89, 153);         
}

.social__icon--g {    
    background-color: rgb(221, 76, 57);    
    font-size: 36px;   
    margin: 0;    
}

[class^="social__icon"]:hover {
    opacity: 100%;
}

[class^="icon"] {
    color: white;
}

.tooltip {
    position: relative;   
    
    .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: $smoky-white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    font-size: 15px;
    font-family: $p-fonts;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}
  
.tooltip:hover {
    .tooltiptext {
    visibility: visible;
    opacity: 1;
    }
}  



/*Footer*/

footer {
    display: flex;
    background-color: rgb(34, 34, 34);
    padding-bottom: 0.5rem;
    text-align: center;
}

.copyright {
    margin-top: 7px;
    font-size: 10.5px;
    font-family: $p-fonts;
    color: rgb(98, 98, 98);
    font-weight: lighter;
    margin-bottom: -0.05rem;
}

[class^="modal__button"] {
    color: rgb(98, 98, 98);
    font-family: $p-fonts;
    line-height: 1.75rem;
    font-size: 10.5px;
    margin-right: 6px;
}

[class^="modal__button"]:hover {
    cursor: pointer;
    color: $special-yellow;
}

/*Modal*/
[class^=section__modal] {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
 
.modal {
    position: relative;
    background-color: $smoky-white;
    margin: 20% auto; 
    padding: 20px 20px 30px 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 100%; 
    box-shadow: 0 0 9px rgb(50, 50, 50);   
}

.modal__title {
    margin: 0;
}

.close__icon {
position: absolute;
right: 10px;
top: 5px;
font-size: 28px;
font-weight: bold;
color: rgb(100, 100, 100);
}

.close__icon:hover,
.close__icon:focus {
    cursor: pointer;
    color: rgb(192, 0, 0);
    text-decoration: none;

}

.inmodal__buttons {
    float: right;
    margin: auto;
}

.inmodal__button {
    border-radius: 3px;
    border: transparent;
    padding: 0.5em;
    
}

.inmodal__button:hover {
    cursor: pointer;
    box-shadow: 0 0 9px rgb(120, 120, 120);
}

.inmodal__button--blue {
    background-color: $special-yellow;
  
}

.inmodal__button--grey {
    background-color: $smoky-white;
   
}

/*Desktop settings*/

@media screen and (min-width: 992px) {
    .modal {
        width: 40%;
    }
    .social-headline {
        font-size: 40px;
    }    
    .contact-head {
        margin-left: 140px ;
    }
    .contact-headline {
        font-size: 65px;
        line-height: 70px;
    }
    .my-btn {
        font-size: 9px;
        padding: 14px 35px 14px 35px;
    }
    .contact-page{
        width: 100%;
        margin-top: 1rem;
    }
    .contact-background {
        top: -230px;
        height: 165%;
        width: 115%;
    }
    .features-container {
        margin-top: 4rem;
    }
    .features-separator{
        display: flex;
        flex-direction: row;
    }
    .feature-container {
        margin-right: 2rem;
    }
    .features-headline {
        font-size: 43px;
        margin-top: 3rem;
    }
    .features-p {
        font-size: 14px;
    }
   
    .features-img {
        width: 260px;
        margin-bottom: 0;
    }
    .feature-icons {
        font-size: 70px;
    }
    .embed-headline {
        font-size: 25px;
    }
    .embed-p {
        font-size: 14px;
        line-height: 1.4rem;
    }
    .discover-headline {
        font-size: 60px;
        padding-top: 3rem;
    }
    
    .discover-p {
        font-size: 15px;
    }
    .badge-container {
        padding-bottom: 4rem;
    }
    .badges {
        width: 170px;
    }
    .card-body{
        text-align: left;
       
        .my-btn {
            margin-right: auto;
            margin-left: 33px
        }
    }
    .card__img--container {
        justify-content: flex-end;
        
    }
    .card-img {
        width: 260px;
    }
    .card-title {
        font-size: 39px;
        line-height: 47px;
        margin-top: 0;
    }
    .start-page{
        padding-bottom: 1rem;
    }
    .nav__link {
        color: rgb(217, 198, 229) !important;
        padding-right: 0 !important;
        font-size: 10px !important;
    }
    .nav__link:hover {
        color: white !important;
    }
    .fixed-top.scrolled {
        background-color: $smoky-white ;
        transition: background-color 200ms linear;
    }
    .navbar {
        padding: 0;
        width: 100%;
    }
    .navbar-brand {
        margin-left: 280px;
    }
    .navbar-brand:hover {
        color: white;
    }
    .navbar-nav {
        margin-right: 300px !important;
        margin-top: 0 !important;
    }
    .navbar.scrolled {
        width: 100%;
        background-color: white; 
    }
    .navbar-brand.scrolled {
        margin-left: 280px;
        color: rgb(69, 69, 69) ;
    }
    .navbar-brand.scrolled:hover {
        color: $special-yellow ;
    }    
    .nav__link.scrolled {
        color: rgb(69, 69, 69) !important;
        font-weight: bold;
    }
    .nav__link.scrolled:hover {
        color: $special-yellow !important;
    }
}